<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand mb-0 h1 " href="#">Puis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2">
                <li class="nav-item dropdown mr-3 ml-3">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Bộ sưu tập
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown mr-3 ml-3">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Sản phẩm
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu p-3" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Đầm</a>
                      <a class="dropdown-item" href="#">Áo</a>
                      <a class="dropdown-item" href="#">Áo Khoác</a>
                      <a class="dropdown-item" href="#">Quần</a>
                      <a class="dropdown-item" href="#">SET</a>
                      <a class="dropdown-item" href="#">Túi xách</a>
                      <a class="dropdown-item" href="#">Giày</a>
                      <a class="dropdown-item" href="#">Phụ kiện</a>
                    </div>
                  </li>
                <li class="nav-item mr-3 ml-3">
                    <a class="nav-link" href="#">Khuyến mãi</a>
                </li>
                <li class="nav-item mr-3 ml-3">
                    <a class="nav-link" href="#">Khách hàng</a>
                </li>
                <li class="nav-item mr-3 ml-3">
                    <a class="nav-link" href="#">Tin tức</a>
                </li>
                <li class="nav-item mr-3 ml-3">
                    <a class="nav-link" href="lienhe">Liên hệ</a>
                </li>
            </ul>
            <form class="form-inline mt-2">
                <a href=""></a>
                <a class="btn-link ml-2 mr-2" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a class="btn-link ml-2 mr-2" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a class="btn-link ml-2 mr-2" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                <a class="btn-link ml-2 mr-2" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            </form>
        </div>
    </div>
</nav>