body{
    font-family: 'Taviraj', serif;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.navbar{
    background-color: #fff;
}
.navbar-brand{
    font-size: 2.6rem;
}
.navbar-nav .nav-item .nav-link, .btn-link{
    color: #333;
}
.navbar-nav .nav-item .nav-link:hover, .btn-link:hover{
    color: rgba(204, 0, 0, 0.842);
}
.dropdown-menu{
    background-color: #fff;
    border: none;
}
.card{
    border: none;
}
.card .body-card .fa{
    font-size: 24px;
}

/* --------------admin----------------- */
.bg-admin{
    background-color: rgb(218, 214, 214);
}
.hd-admin{
    background-color: rgb(24, 134, 238);
}
.nav .nav-item .nav-link{
    color: #fff;
}
.nav .nav-item:hover, .nav-pills{
    background-color: rgb(38, 27, 189);
}

