<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); -%>
</head>
<body>
    <%- include('../partials/header'); -%>
    <%- include('../partials/slide'); -%>
    <main>
        <section id="policy">
            <div class="container my-3 py-3 text-center">
                <div class="row">
                    <div class="col-sm">
                        <div class="card">
                            <div class="body-card">
                                <i class="fa fa-truck" aria-hidden="true"></i>
                                <h6 class="card-title">Chính Sách Vận Chuyển</h6>
                                <p>Tham Khảo Chính Sách Vận Chuyển Của Puis Clothing <a href="#">tại đây</a> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <div class="body-card">
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                <h6>Chính Sách Thanh Toán</h6>
                                <p>Puis Clothing có hỗ trợ thanh toán COD hoặc chuyển khoản qua ngân hàng <a href="#">tại đây</a> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <div class="body-card">
                                <i class="fa fa-trophy" aria-hidden="true"></i>
                                <h6>Chương Trình Thẻ VIP</h6>
                                <p>Tham Khảo Chương Trình Thẻ VIP Của Puis Clothing <a href="#">tại đây</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="hot-product">
            <div class="container text-center">
                <div class="title-hot mb-5">
                       <a href="#" class="txt-hot"><h3>Bộ sưu tập Hot</h3></a> 
                </div>
                <div class="card-group">
                    <div class="card ml-2 mr-2">
                        <img class="card-img-top" src="/images/hot-pd2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <a href="#" class="card-link"><h6 class="card-title">MÙA XUÂN</h6></a>
                        </div>
                    </div>
                    <div class="card ml-2 mr-2">
                        <img class="card-img-top" src="/images/hot-pd2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <a href="#" class="card-link"><h6 class="card-title">MÙA HÈ</h6></a>
                        </div>
                    </div>
                    <div class="card ml-2 mr-2">
                        <img class="card-img-top" src="/images/hot-pd2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <a href="#" class="card-link"><h6 class="card-title">MÙA THU</h6></a>
                        </div>
                    </div>
                    <div class="card ml-2 mr-2">
                        <img class="card-img-top" src="/images/hot-pd2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <a href="#" class="card-link"><h6 class="card-title">MÙA ĐÔNG</h6></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer'); -%>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>