<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); -%>
    <title>Puis store</title>
</head>
<body>
    <%- include('../partials/header'); -%>
    <%- include('../partials/slide'); -%>
    <main>
        <section id="policy">
            <div class="container pt-4 text-center">
                <div class="row">
                    <div class="col-sm">
                        <div class="card">
                            <div class="body-card">
                                <i class="fa fa-truck" aria-hidden="true"></i>
                                <h6 class="card-title">Chính Sách Vận Chuyển</h6>
                                <p>Tham Khảo Chính Sách Vận Chuyển Của Puis Clothing <a href="#">tại đây</a> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <div class="body-card">
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                <h6>Chính Sách Thanh Toán</h6>
                                <p>Puis Clothing có hỗ trợ thanh toán COD hoặc chuyển khoản qua ngân hàng <a href="#">tại đây</a> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <div class="body-card">
                                <i class="fa fa-trophy" aria-hidden="true"></i>
                                <h6>Chương Trình Thẻ VIP</h6>
                                <p>Tham Khảo Chương Trình Thẻ VIP Của Puis Clothing <a href="#">tại đây</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center"><img src="/images/line-bot.png" alt="" ></div>
        <section class="hot-product pt-4 pb-4">
            <div class="container text-center">
                <div class="col-xs-12 mb-4">
                    <h3 class="mb-3">
                        <img src="/images/ihleft.png" alt="">
                        <a href="#">Bộ sưu tập Hot</a>
                        <img src="/images/ihright.png" alt="">
                    </h3>
                    <div class="text-center title-descript">Bộ sưu tập thời trang 4 mùa siêu đẹp</div>
                </div>
                <div class="card-group">
                    <div class="card ml-2 mr-2">
                        <a href="#">
                            <img class="card-img-top" src="/images/hot-pd2.jpg" alt="Card image cap">
                            <h6 class="card-title mt-2">MÙA XUÂN</h6>
                        </a>   
                    </div>
                    <div class="card ml-2 mr-2">
                        <a href="#">
                            <img class="card-img-top" src="/images/hot-pd2.jpg" alt="Card image cap">
                            <h6 class="card-title mt-2">MÙA HÈ</h6>
                        </a>   
                    </div>
                    <div class="card ml-2 mr-2">
                        <a href="#">
                            <img class="card-img-top" src="/images/hot-pd2.jpg" alt="Card image cap">
                            <h6 class="card-title mt-2">MÙA THU</h6>
                        </a>   
                    </div>
                    <div class="card ml-2 mr-2">
                        <a href="#">
                            <img class="card-img-top" src="/images/hot-pd2.jpg" alt="Card image cap">
                            <h6 class="card-title mt-2">MÙA ĐÔNG</h6>
                        </a>   
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer'); -%>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>